* {
    border: 2px red solid;
}

:root {
    margin: 0;
    display: flex;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    flex: 1;
    background-color: hsl(226, 26%, 16%);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    aspect-ratio: 1;
}